<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522621031398-rle6of6im194jha6ols9ik5s1lpv4pfk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522621031398-rle6of6im194jha6ols9ik5s1lpv4pfk</string>
	<key>API_KEY</key>
	<string>AIzaSyADSR_Ha3I-FBP6DzBc2ogKuVjpuA-3iLw</string>
	<key>GCM_SENDER_ID</key>
	<string>522621031398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yavl.EZipoteka</string>
	<key>PROJECT_ID</key>
	<string>ezipoteka</string>
	<key>STORAGE_BUCKET</key>
	<string>ezipoteka.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522621031398:ios:ed240849cbef2631147c27</string>
</dict>
</plist>